# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Bỏ qua các file dữ liệu
data/
imdb_full_reviews.csv
*.csv

# Bỏ qua các file model/embedding
vocab.pt
*.pt