# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Bỏ qua thư mục dữ liệu IMDB thô
data/aclImdb/

# Bỏ qua cả các file mô hình lớn đã lưu
*.pt
*.pth
*.vec